:root {
  --background-color-light: #f4f4f4;
  --background-color-dark: #2c2c2c;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
  --primary-color: #2261a0;
  --secondary-color: #00bfae;
  --accent-color: #ff5722;
  --button-background: #ff5722;
  --button-background-hover: #e64a19;
  --header-background: #004d99;
  --footer-background: #2261a0;
  --section-background: #ffffff;
  --navbar-background-light: #ffffff;
  --navbar-background-dark: #333333;
  --border-radius: 8px;
  --border-color: #ffffff;
}

body.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --header-background: var(--header-background);
  --footer-background: var(--footer-background);
  --section-background: var(--section-background);
  --navbar-background: var(--navbar-background-light);
}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --header-background: var(--header-background);
  --footer-background: var(--footer-background);
  --section-background: #333333;
  --navbar-background: var(--navbar-background-dark);
}
