.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 1rem;
  text-align: center;
  border-top: 1px solid var(--footer-border);

  .footer-content {
    margin: 0 auto;
  }

  .footer-link {
    color: var(--footer-link);
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  .footer-link:hover {
    text-decoration: underline;
  }
}
